.property-box {
    width: 30%;
    padding: 10px;
    background: #ffff;
    margin: 50px auto auto;
    border-radius: 20px;
}

.input {
    margin: 10px;
    width: 167%;
}

.button {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 30px;
    width: 170%;
    padding: 4px 11px;
}

.image-uploader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.addPropertyMainDiv{
    background-color:#e2e5fc !important ;
}