.input-feild-email{
    padding-top: 12px;
    padding-bottom: 25px;
}
.input-feild-pw{
    padding-bottom: 30px;
}
.layout{
  /* background-contain:100%; */
  padding-top:20px;
  background: #e2e5fc;
  height:auto;
}
.container{
    /* background-image: url(../assets/istockphoto-493878624-170667a.jpg); */
    background-repeat: repeat;
    background-size: cover;
    /* height: 600px; */
    
  }

  /* .signIn{
    padding-bottom: 50px;

  } */
  .new-account{
    text-align: center;
  }
  .input-feild{
   padding-bottom: 30px !important;
  }

  .input-feild-host{
    padding-bottom: 46px !important;
  }

  .input-feild-email-signUpHost{
    padding-bottom: 42px !important;
  }
  .signToggle{
    text-align: center;
    padding: 150px;
  
  }
 