.input-feild-email{
    padding-top: 50px;
    padding-bottom: 30px;
}
.input-feild-pw{
    padding-bottom: 30px;
}
.layout{
  background-contain:100%;
  padding-top:20px;
    background: white;
}
.container{
    background-image: url(../assets/istockphoto-493878624-170667a.jpg);
    background-repeat: repeat;
    background-size: cover;
  }
  .signIn{
    padding-bottom: 50px;

  }
  .new-account{
    text-align: center;
  }
  .input-feild{
   padding-bottom: 30px;
  }
  .signToggle{
    text-align: center;
    padding: 25px;
  
  }
 